<nav class="header container-fluid">
    <div class="py-2 py-xxl-3 ps-xxl-2 row gx-0">
        <div class="col-9 col-xl-10 col-xxl-10 my-auto">
            <ul class="list-unstyled row my-auto">
                <li class="col col-md col-lg col-xl-6 col-xxl-2" *ngIf="!this.darkModeService.isMobile()">
                    <img [src]="this.darkModeService.logo()" alt="Kanban Logo" class="logo">
                </li>
                <li *ngIf="this.darkModeService.isMobile()" class="col-1 my-auto"><img [src]="this.darkModeService.logo()" alt=""></li>
                <li class="col-10 col-md-7 col-9-lg col-xl-8 col-xxl-4 d-flex align-items-center justify-content-center justify-content-md-start" (click)="toggleSideBar()"><h1>{{activeBoard}}</h1><img *ngIf="this.darkModeService.isMobile()" src="assets/icon-chevron-down.svg" alt=""></li>
            </ul>
        </div>
    <div class="col-3 col-xl-2 col-xxl-2 my-auto">
        <ul class="w-100 row list-unstyled my-auto">
            <li class="col col-md col-lg-10 add-task-button" [ngClass]="{'inactive-add-task-button': isBoardEmpy}"(click)="openAddTaskModal('addTask')"><img src="assets/icon-add-task-mobile.svg" alt=""><span *ngIf="!this.darkModeService.isMobile()">Add New Task</span></li>
            <li class="col col-md-1 col-lg-2 my-auto" (click)="toggleMenu()"><img src="assets/icon-vertical-ellipsis.svg" alt=""></li>
        </ul>  
    </div>
    </div>
   <ng-container *ngIf="showMenu">
        <ng-container *ngTemplateOutlet="moreMenu"></ng-container>
    </ng-container>
</nav>

<ng-template #moreMenu>
    <ul class="more-menu">
      <li (click)="openEditModal('editBoard')">Edit Board</li>
      <li (click)="openDeleteModal('deleteBoard')">Delete Board</li>
    </ul>  
</ng-template>