<nav class="header container-fluid">
    <div class="row gx-0 ">
        <div class="col-9 col-xl-10 my-auto">
             <ul class="list-unstyled row my-auto">
            <li class="col col-md col-lg col-xl-6" *ngIf="!isMobile()">
            <img [src]="logo()" alt="Kanban Logo" class="logo">
            </li>
            <li *ngIf="isMobile()" class="col-lg col-xl-3"><img [src]="logo()" alt=""></li>
            <li class="col col-md-7 col-9-lg col-xl-8"><h1 [ngClass]="{'h1-dark':darkModeEnabled}">{{activeBoard}}</h1><img *ngIf="isMobile" src="assets/icon-chevron-down.svg" alt=""></li>
        </ul>
        </div>
    <div class="col-3 col-xl-2 my-auto">

        <ul class="row list-unstyled my-auto">
            <li class="col col-md-10 add-task-button" [ngClass]="{'inactive-add-task-button': isBoardEmpy}"(click)="openAddTaskModal('addTask')"><img src="assets/icon-add-task-mobile.svg" alt=""><span *ngIf="!isMobile()">Add New Task</span></li>
            <li class="col col-md-2 my-auto" (click)="toggleMenu()"><img src="assets/icon-vertical-ellipsis.svg" alt=""></li>
        </ul>  
    </div>
    </div>
   <ng-container *ngIf="showMenu">
        <ng-container *ngTemplateOutlet="moreMenu"></ng-container>
    </ng-container>
</nav>

<ng-template #moreMenu>
    <ul class="more-menu">
      <li (click)="openEditModal('editBoard')">Edit Board</li>
      <li (click)="openDeleteModal('deleteBoard')">Delete Board</li>
    </ul>  
</ng-template>