<div *ngIf="data.task" class="task-details">
    <p>{{data.task.description}}</p>
    <div>
        <h3>Subtasks {{completedSubtasksNumber()}} of {{data.task.subtasks.length}}</h3>
        <div class="subtasks-container">
            <div *ngFor="let subtask of data.task?.subtasks" class="subtask-card" (click)="subtask.isCompleted = !subtask.isCompleted">
                <div class="square" [ngClass]="{'completed': subtask.isCompleted}">
                    <img *ngIf="subtask.isCompleted" src="assets/icon-check.svg" alt="">
                </div>
                <span>{{subtask?.title}}</span>
            </div>
        </div>
        <div class="status">
            <label for="status">Current Status</label>
            <div class="value" (click)="dropdownOpen = !dropdownOpen"><small>{{status()}}</small> <img src="assets/icon-chevron-down.svg" alt=""></div>
            <div class="columns" *ngIf="dropdownOpen">
                <div *ngFor="let column of columnNames; let i = index" (click)="selectColumn(column)">{{column}}</div>
            </div>
        </div>
    </div>
</div>