<div>
    <form [formGroup]="boardForm" >
        <div>
            <label for="name">Name</label>
            <input type="text" placeholder="e.g Web Design" id="name" [formControl]="name" name="name" required>
        </div>
        <div formArrayName="columns">
            <label for="columns">Columns</label>
            <div *ngFor="let item of columns.controls; let i = index" [formGroupName]="i" class="column-input" [@columnAnimation]>
                    <input type="text" placeholder="e.g Todo" id="columns" formControlName="name" name="columns" required>
                    <img src="assets/icon-cross.svg" alt="remove icon" (click)="removeColumn(i)">
            </div>
   
        </div>
        <div>
            <button type="button" (click)="addColumn()">
                <img src="assets/icon-add-task-mobile.svg" alt="">
                <span>Add New Column</span>
            </button>
            <button type="button" (click)="addBoard()" >
                Create New Board
            </button>
        </div>
    </form>

</div>
