<div class="app-container" [ngClass]="{'app-container-hidden-nav': !navShown}">
  <app-header></app-header>
  <main class="app-content"[ngClass]="{'app-content-dark': darkModeEnabled}" >
  <app-sidebar [ngClass]="{'hide-nav': !navShown}"></app-sidebar>
    <router-outlet />
    <div class="show-sidebar" [ngClass]="{'hide-show-sidebar': darkModeService.showSideBar()}" (click)="toggleSidebar()">
      <img src="/assets/icon-show-sidebar.svg" alt="">
  </div>
  <app-modal *ngIf="modalService.isOpen()"></app-modal>
  </main>
</div>


