<div class="container-fluid w-75 w-100 h-100 gx-0">
<div class="row h-100 w-100">
<nav class="d-flex flex-column mx-auto align-md-items-center justify-content-between col-md-3 col-lg-2 py-4 p-0 m-0  ">

    <div class="row postion-sticky pt-3 gx-0">
        <h2 class="">ALL BOARDS ({{numberOfBoards}})</h2>
        <ul class=" flex-column gx-0">
            <li *ngFor="let board of boards(); let index = index" class="gx-0 w-100" [ngClass]="{'active-board': board === activeBoard}" (click)="setActiveBoard(board)">
                    <img src="/assets/icon-board.svg" alt="" >
                   <span>{{board}}</span> 
            </li>
            <li class="create-board" (click)="openModal('addBoard')">
                <img src="/assets/icon-board.svg" alt="">
                <span>+ Create New Board</span> 
            </li>
        </ul>
    </div>
   
    <div class="sidebar-footer w-100">
        <app-dark-mode-toggle ></app-dark-mode-toggle>
        <div (click)="toggleSidebar()"  *ngIf="!this.darkModeService.isMobile()">
            <img src="assets/icon-hide-sidebar.svg" alt="">
            <span>Hide Sidebar</span>
        </div>
    </div>
 
</nav>

</div>
</div>

